article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: medium solid grey;
}

article > div {
  text-align: center;
  margin: 5px auto;
  height: 100%;
  border: medium solid black;
}

div.pic {
  display: flex;
  width: 49%;
  min-height: 150px;
  background-color: orange;
}

div.text {
  padding: 2%;
  background-color: lightblue;
}

div.text > p {
  font-size: 1.5em;
  font-family: sans-serif;
}

div.text > button {
  font-size: 1.2em;
  font-family: sans-serif;
}

img {
  max-width: 200px;
}
