section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: medium solid grey;
}

article > div {
  text-align: center;
  margin: 5px auto;
/*  height: 100%; */
  border: medium solid black;
}

div.pic {
  display: flex;
  width: 49%;
  min-height: 150px;
  background-color: orange;
}

div.pic > p {
  font-size: 2em;
}

div.text {
  padding: 2%;
  background-color: lightblue;
}

div.text > p {
  font-size: 1.1em;
  font-family: sans-serif;
}

div.text > button {
  font-size: 1.2em;
  font-family: sans-serif;
}

img {
  max-width: 200px;
}

@media screen and (min-width: 500px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  article {
    width: 48%;
    background-color: purple;
    border: medium dashed blue;
  }
}
